@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$color-background: #1E1E33;
$color-lightgrey: #EBEBEB;
$color-light: #FFF;
$color-loading: linear-gradient(#00B6FA, #59388D);
